
/* GENERAL STYLING */
a {
    text-decoration: none;

}

body {
    background-color: black;
}





/* NAVIGATION */

/* background color */
 nav {
    background-color: beige;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
 }

/* logo */
.logo-contain {
    width: 130px;
}

.logo {
    width: 100%;
}

/* center the nav */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* text and fonts */
.nav-link {
    text-decoration: none;
    color:  whitesmoke;
    font-family:Helvetica, Arial, sans-serif;
    background-color: black;
    padding: 1.2rem;
    border-radius: 10px;
}

/* link affects */
.nav-link:hover {
    background-color: rgb(41, 40, 40);
}

.nav-link:active {
    background-color: rgb(66, 64, 64);
}





/* GRID-ITEMS */

/* grid-container + flex */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: beige;
    width: 80vw;
    border-radius: 10px;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 10rem;
}

/* images */
.grid-images {
    width: 100%;
}



/* GRID ITEMS SUPPORTING THE MAIN CONTENT: MOTHS */

.moth-contain {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    max-width: 80vw;
    margin: 0 auto;
    gap: 2rem;
}

.moths {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    background-color: beige;
    border-radius: 10px;

    width: 11rem;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 10rem;
    margin-top: 2rem;
}

.moth-images {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
}





/* FOOTER */

/* background color */
footer {
    background-color: beige;
    padding-top: 1rem;
    margin-top: 5rem;
}

/* center the footer */
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* text and fonts */
.footer-link {
    text-decoration: none;
    color: black;
    font-size: 1.5srem;
    font-family:Helvetica, Arial, sans-serif;
}

/* link affects */
.footer-link:hover {
    color: rgb(65, 63, 63);
}

.footer-link:active {
    color: rgb(117, 115, 115);
}





/* BIGGER SCREEN */

@media screen and (min-width: 890px) {


    .moth-contain {
        gap: 1rem;
        width: 50vw;
    }

    .moths {
        width: 14rem;
    }

    .moth-images {
        width: 200px;
        height: 200px;
    }

    .container {
        width: 50vw;
    }

    .grid-images {
        height: 20rem;
        object-fit: cover;
    }

  }


  @media screen and (min-width: 1949px) {

    .moths {
        width: 25rem;
    }

    .moth-images {
        width: 350px;
    }

    .container {
        width: 40vw;
    }
  }